<% if(typeof errors !='undefined') { errors.forEach(err=> { %>
    <div class="alert alert-danger">
        <div class="message">
            <%= err.msg %>
        </div>
        <button class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% })
} %>

<% if(success_msg != '') { %>
    <div class="alert alert-success">
        <div class="message">
            <%= success_msg %>
        </div>
        <button class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %> 
<% if(error_msg != '') { %>
    <div class="alert alert-danger">
        <div class="message">
            <%= error_msg %>
        </div>
        <button class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %> 
<% if(error != '') { %>
    <div class="alert alert-danger">
        <div class="message">
            <%= error %>
        </div>
        <button class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %> 