<nav>
    <div class="left">
        <div class="logo">
            <h2><a href="/">MoviesHere</a></h2>
        </div>
        <div class="center">
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <!-- <li>
                    <div class="dropdown">
                        <button class="dropbtn">Explore 
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                    </div>
                </li> -->
                <li>
                    <a href="/trending">trending</a>
                </li>
                <li>
                    <a href="/mostpopular/movie">popular movies</a>
                </li>
                <li>
                    <a href="/mostpopular/tv">popular shows</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="right">
        <ul>
            <li><%- include('./search-form', {title: '' }) %></li>
            <% if(!currentUser) { %>
                <li><a class="btn btn-success" href="/users/register">SignUp</a></li>
                <li><a class="btn btn-success" href="/users/login">Login</a></li>
            <% } else { %>
                <li><a class="btn btn-success" href="/users/logout">LogOut</a></li>
            <% } %> 
        </ul>
    </div>
</nav>